<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Submissions</title>

    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 32px;
      }

      table,
      td {
        border: 1px solid black;
      }

      th {
        border: 2px solid black;
        padding: 3px 5px;
      }

      td {
        padding: 5px;
      }
    </style>
  </head>

  <body>
    {% for group in groups %}
      <table>
        <thead>
          <tr style="text-align:center;">
            <th rowspan="3">№<br>п/п</th>

            <th rowspan="3">Прізвище, ім'я</th>

            <th rowspan="3">Нік на сайті e-olymp</th>

            <th colspan="{{ problems[group]|length * 2 }}">Задачі блок {{ group }}</th>

            <th rowspan="3">Оцінка блок {{ group }}</th>
          </tr>

          <tr>
            {% for problem in problems[group] %}
              <th colspan="2">
                <a target="_blank" href="https://www.e-olymp.com/uk/problems/{{ problem.id }}">{{ problem.id }}</a>
              </th>
            {% endfor %}
          </tr>

          <tr>
            {% for problem in problems[group] %}
              <th>бали</th>

              <th>розв'язок</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ loop.index }}</td>

              <td>{{ user.name }}</td>

              <td>{{ user.username }}</td>

              {% for problem in problems[group] %}
                {% set info = submissions.get((user.id, problem.id), None) %}

                {% if info is none %}
                  <td></td>

                  <td>0%</td>
                {% else %}
                  <td><a target="_blank" href="https://e-olymp.com/uk/submissions/{{ info[0] }}">{{ info[0] }}</a></td>

                  <td>{{ info[1] }}%</td>
                {% endif %}
              {% endfor %}

              <td>{{ marks[(user.id, group)] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </body>
</html>
